

.topHeader{
    height: 12vh;
    width: 100vw;
    background-color: rgb(3, 17, 42);
    border: solid 2px;
    display: flex;
    flex-direction: row;
    border-bottom-color: brown;
    border-bottom-width: 4px;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    width: 30vw;
    color:rgb(139, 110, 35);
    margin-left: 3.5vw;
}

.logout{
    font-size: 50px;
    font-weight: bold;
    width: 30vw;
    color:rgb(139, 110, 35);
    margin-left: 60vw;
}

.infoSection{
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-size: 20px;
    height: 10vh;
    background-color: rgb(236, 228, 228);
    border-bottom: solid rgb(3, 17, 42) 2px;
}

.name{
    font-size: 30px;
    font-weight: 500;
    width: 30vw;
    color:rgb(3, 17, 42);
    margin-top: 2vh;
    margin-left: 5vw;
}

.accountnumber{
    font-size: 30px;
    font-weight: 500;
    width: 40vw;
    color:rgb(3, 17, 42);
    margin-left: 15vw;
    margin-top: 2vh;
}

.state{
    font-size: 30px;
    font-weight: 500;
    width: 20vw;
    color:rgb(3, 17, 42);
    margin-left: 10vw;
    margin-top: 2vh;
}

.bottomsection{
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 20px;
    height: 78vh;
    background-color: rgb(3, 17, 42);
}

.coverimage{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 78vh;
    background-image: url("../../public/better\ bridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.accountscontainer{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    margin-left: .5vw;
    margin-right: 1vw;
    margin-top: 2vh;
}

.createbottomsection{
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 20px;
    height: 78vh;
    background-image: url('../../public/handshake.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    border: solid 3px silver;
}

.createPageFormArea{
    width: 85vw;
    height: 60vh;
    border: solid 3px silver;
    margin-left: 8vw;
    margin-top: 9.5vh;
}


.createNewAccountHeader{
font-size: 30px;
font-weight: 500;
width: 25vw;
color:rgb(3, 17, 42);
text-align: center;
border: solid 3px silver;
/* margin-left: 10vw;
margin-top: 2vh; */
}


.createNewAccountForm{
    display: flex;
    flex-direction: column;
}

.createUserSection{
    width: 90vw;
    height: 25vh;
    border: solid 2px green;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.createAccountSection{
    width: 90vw;
    height: 25vh;
    border: solid 2px green;
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: auto;
}

.openAccountButton{
    height: 12vh;
    width: 20vw;
    align-self: center;
}