


.cardbackground{
    background-color: white;
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    z-index: -5;
    margin-top: 8vh;
    margin-left: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.accountType{
    margin-left: 12vw;
    margin-top: 4vh;
}

.accountNumber{
    margin-left: 10vw;
    margin-top: 1vh;
}

.goldLine{
border-bottom: solid 8px rgb(139, 110, 35);
width: 12vw;
margin-left: 8vw;
margin-top: 1.5vh;
}

.accountBalance{
    
}