

.topHeader{
    height: 12vh;
    width: 100vw;
    background-color: rgb(3, 17, 42);
    border: solid 2px;
    display: flex;
    flex-direction: row;
    border-bottom-color: brown;
    border-bottom-width: 4px;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    width: 30vw;
    color:rgb(139, 110, 35);
    margin-left: 3.5vw;
}

.logout{
    font-size: 50px;
    font-weight: bold;
    width: 30vw;
    color:rgb(139, 110, 35);
    margin-left: 60vw;
}

.infoSection{
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-size: 20px;
    height: 10vh;
    background-color: rgb(236, 228, 228);
    border-bottom: solid rgb(3, 17, 42) 2px;
}

.name{
    font-size: 30px;
    font-weight: 500;
    width: 30vw;
    color:rgb(3, 17, 42);
    margin-top: 2vh;
    margin-left: 5vw;
}

.accountnumber{
    font-size: 30px;
    font-weight: 500;
    width: 40vw;
    color:rgb(3, 17, 42);
    margin-left: 15vw;
    margin-top: 2vh;
}

.state{
    font-size: 30px;
    font-weight: 500;
    width: 20vw;
    color:rgb(3, 17, 42);
    margin-left: 10vw;
    margin-top: 2vh;
}

.bottomsection{
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 20px;
    height: 78vh;
    background-color: rgb(3, 17, 42);
}

.coverimage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 78vh;
    background-image: url("../../public/bridge.jpeg");
}