
@media screen and (max-width: 576px)
{




.fullAccountsPage{
    overflow: hidden;
    height: 100rem;
}

.topHeader{


}

.infoSection{

}

.createNewAccountHeader{
    width: 18rem;
    margin-left: 7rem;
}

.createbottomsection{
    width: 100%;
    height: 100%;
}

.createNewAccountForm{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    height: 75%;
    width: 100%;
    overflow: hidden;
}

.createUserSection{
    display: flex;
    flex-direction: column;
    height: 75%;
    margin: 0 auto;
}


.firstNameBlock{
display: flex;
flex-direction: column;
height: 12em;
width: 100%;
}

.firstname{
    width: 20rem;
}

.decorativeLine{
    width: 15rem;
}

.nameText{
    margin-left: 8rem;
}



.lastNameBlock{
    display: flex;
    flex-direction: column;
    height: 8em;
    width: 95%;
    background-color: transparent;

}


.lastname{
    width: 20rem;
    margin-left: 2.5vw;
    margin-top: 1vh;
}


.lastNameText{
    width: 12rem;
    margin-top: .2rem;
    margin-left: 4.8rem;

}



.emailBlock{
    border: solid 2px green;
    margin-top: 1vh;
    width: 22rem;
    margin-left: .5vw;
}


.email{
    border: solid 2px pink;
    width: 20rem;


}


.emailText{

}





}