

.fullDeletebb{
    height: 50vh;
    width: 30vw;
    background-color: rgb(3, 17, 42);
    color: white;
    align-items: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.deleteBBtoprow{
display: flex;
flex-direction: row;
width: 28vw;
margin-top: 2vh;
border: solid 2px green;
}

.deletebbHeader{
    margin-left: 5vw;
    margin-top: 3vh;
}

.deleteBBXout{
    width: 4vw;
    font-size: 30px;
    margin-left: 1vw;
}

.theText{
    width: 28vw;
    border: solid 2px green;
    margin-top: 0;
}

.deletebbbutton{
    border: solid 2px green;
    width: 18vw;
    height: 6vh;
}