@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mynerve&family=Titan+One&display=swap');


.fullDepositComponent{
    background-image: linear-gradient(45.34deg, rgb(0, 16, 43) 5.66%, #10203b 94.35%);
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.toprow{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}

.Xout{
    margin-left: 2vw;
    color: white;
    height: 3vh;
    font-size: 30px;
    font-weight: 600;
}

.depositHeader{
    font-family: 'Titan One', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    color: white;
    margin-left: 4vw;
    margin-bottom: 2vh;
    margin-top: .8vh;
}

.depositSection{
    display: flex;
    flex-direction: column;
    background-color: #414E65;
    height: 20vh;
    width: 20vw;
    align-self: center;
    margin-top: 2vh;
    margin-left: 2vh;
    border-radius: 8px;
}

.depositFieldSection{
    display: flex;
    flex-direction: row;
    width: 18vw;
    height: 12vh;
    }


.depositSectionHeader{
    height: 5vh;
    color: white;
    align-self: center;
}

.dollarSign{
    align-self: center;
    color: rgb(139, 110, 35);
    font-size: 50px;
    margin-left: 2vw;
    font-weight: 800;
    padding-right: .5vw;
}

.depositField{
    background-color: #414E65;
    align-self: center;
    height: 10vh;
    font-size: 40px;
    color: white;
    font-family: 'Titan One', cursive;
    width: 8vw;
}

.depositField::placeholder{
    background-color: #414E65;
    height: 10vh;
    font-size: 35px;
    width: 8vw;
    color: white;
    font-family: 'Titan One', cursive;
    border: solid 1px #414E65;
}

.depositButton{
    background-color: rgb(139, 110, 35);
    font-size: 18px;
    border-radius: 10px;
    align-self: center;
}