
.fullOpenComponent{
    background-color: rgb(3, 17, 42);
    border: solid 2px green;
    height: 45vh;
    width: 30vw;
}

.opencreateUserSection{
    display: flex;
    height: 30vh;
    flex-direction: row;
    margin: 2vh;
    border: solid 2px brown;
}


.openAccountType{
    margin: 2vh;
    width: 12vw;
}

.openAccountPlaceholder{
    width: 10vw;
    height: 8vh;
    margin: 1vh;
    margin-bottom: -2vh;
    margin-top: 3vh;
    font-size: 25px;
    background-color: rgb(139, 110, 35);
    color: white;
}

.openAccountTypeText{
    height: 8vh;
    color: rgb(139, 110, 35);
    font-size: 30px;
    font-weight: 800;

}

.opendepositclass{
    margin: 1.5vh;
    width: 12vw;
}

.openDepositPlaceholder{
    width: 10vw;
    height: 8.7vh;
    margin: 1vh;
    margin-bottom: -2vh;
    margin-top: 3vh;
    font-size: 25px;
    background-color: rgb(139, 110, 35);
    color: white;
}

.openDepositPlaceholder::placeholder{
    width: 10vw;
    height: 9vh;
    margin-bottom: -2vh;
    margin-top: 3vh;
    font-size: 25px;
    background-color: rgb(139, 110, 35);
    color: white;
}

.openDepositText{
    height: 8vh;
    color: rgb(139, 110, 35);
    font-size: 30px;
    font-weight: 800;
    margin-left: 2vw;
    margin-top: 5vh;
}

.openMakeAccountButton{
    border: solid 2px silver;
    margin-left: 8vh;
    width: 22vw;
    height: 6vh;
    border-radius: 12px;
}