
.fullOpenComponent{
    background-color: rgb(3, 17, 42);
    border: solid 2px green;
    height: 45vh;
    width: 30vw;
}

.opencreateUserSection{
    display: flex;
    height: 30vh;
    flex-direction: row;
    margin: 2vh;
    border: solid 2px green;
}


.openAccountType{
    border: solid 2px orange;
    margin: 2vh;
    width: 12vw;
}

.openAccountPlaceholder{
    
}