.fullCompleteTransferComponent{
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#03112A 50%, rgb(28, 28, 88));
}

.transferConfirmationTopDiv{
    display: flex;
    flex-direction: row;
}

.transferConfirmationHeader{
    margin-top: 2vh;
    margin-left: 7vw;
    font-size: 25px;
    color: white;
}

.transferConfirmationMiddleSection{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 20vw;
}

.transferConfirmationTransferAmountText{
    color: white;
    margin-top: 2vh;
    margin-left: 4vw;
}

.transferConfirmationAmountValue{
    color: white;
    height: 12vh;
    font-size: 65px;
    margin-left: 6vw;
    margin-top: 0;
}

.transferConfirmationFromAccountText{
    
}

.transferConfirmationButton{
    height: 6vh;
    width: 12vw;
}