.fullTransferComponent{
    height: 65vh;
    background-image: linear-gradient(#03112A 70%, rgb(28, 28, 88));
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.transferTop{
    display: flex;
    flex-direction: row;
}

.transferTextheader{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
    margin-left: 7vw;
}

.transferAmountField{
    display: flex;
    flex-direction: row;
    background-color: #414E65;
    height: 16vh;
    width: 22vw;
    margin-left: 9vh;
    margin-top: 3vh;
    border-radius: 12px;
}

.transferDollarSign{
    color: white;
    height: 5vh;
    width: 5vw;
    align-self: center;
    text-align: center;
    border: solid 2px green;
}

.transferFromToField{
    background-color: #414E65;
    height: 16vh;
    width: 22vw;
    margin-left: 9vh;
    margin-top: 3vh;
    border-radius: 12px;}


.transferButton{
    background-color: #414E65;
    height: 7vh;
    width: 22vw;
    margin-left: 9.3vh;
    margin-top: 3vh;
    border-radius: 12px;
    color: white;
}