.fullCompleteTransferComponent{
    height: 55vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#03112A 50%, rgb(28, 28, 88));
}

.transferConfirmationTopDiv{
    display: flex;
    flex-direction: row;
}

.transferConfirmationHeader{
    margin-top: 2vh;
    margin-left: 7vw;
    font-size: 25px;
    color: white;
}

.transferConfirmationMiddleSection{
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 20vw;
    border: solid 2px gray;
    margin-left: 5vw;
}

.transferConfirmationTransferAmountText{
    color: white;
    margin-top: 2vh;
    margin-left: 4vw;
}

.transferConfirmationAmountValue{
    color: rgb(139, 110, 35);
    height: 12vh;
    font-size: 65px;
    margin-left: 4vw;
    margin-top: 0;
}
.transferConfirmationArrow{
    color: rgb(255, 209, 93);
    margin-left: 8vw;
}

.transferConfirmationFromAccountText{
    color: white;
    margin-left: 3.3vw;
}

.transferConfirmationToText{
    color: white;
    margin-left: 5vw;
}

.transferConfirmationDecorativeLine{
    color: white;
    height: 1vh;
    width: 15vw;
}

.transferConfirmationButton{
    background-color: coral;
    height: 7vh;
    width: 12vw;
    margin-left: 4vw;
    margin-top: 2vh;
    color: rgb(24, 24, 96);
    font-weight: 700;
}