*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');



li{
list-style: none;
flex-direction: row;
margin-left: 1vw;
}

.top_section{
    height: 12vh;
    width: 100vw;
    background-color: rgb(3, 17, 42);
    border: solid 2px;
    display: flex;
    flex-direction: row;
    border-bottom-color: brown;
    border-bottom-width: 4px;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    width: 30vw;
    color: rgb(30, 245, 30);
    margin-left: 3.5vw;
}

.navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 75px;
    height: 30px;
    margin-top: 4vh;
    margin-left: 30vw;
    color: cornsilk;
    font-size: large;
}

#signin{
    height: 44px;
    margin-top: 2vh;
    border-radius: 20px;
    width: 100px;
    margin-left: 15vw;
    color: rgb(3, 17, 42);
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: silver;
}

.moreOptions{
    width: 100vw;
    background-color: rgb(240, 240, 240);
    height: 10vh;
    display: flex;
    flex-direction: row;
    color: brown;
}

.navListTwo{
    display: flex;
    flex-direction: row;
    width: 95vw;
    font-size: 20px;
}

.hoverStart{
    margin-right: 3vw;
    height: 7vh;
    border-bottom: solid 4px rgb(30, 245, 30);
}

.navListTwo li{
    margin-right: 3vw;
    height: 7vh;
}

.navListTwo li:hover{
    margin-right: 3vw;
    height: 7vh;
    border-bottom: solid 4px rgb(30, 245, 30);
}

.secondOptionstab{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 9vh;
    display: flex;
    flex-direction: row;
}

.navListThree{
    display: flex;
    flex-direction: row;
    width: 95vw;
    font-size: 16px;
}

.navListThree li{
    font-size: 18px;
    margin-right: 2vw;
}

.navListThree li:hover{
    font-size: 18px;
    margin-right: 2vw;
    color: rgb(30, 245, 30);
}


.bodysection{
    height: 69vh;
    background-image: url("../public/basicbankfamily3.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: rgb(30, 245, 30);
    background-blend-mode: var(#ba8c43);
    background-image: radial-gradient();
    background-blend-mode: screen;
    opacity: 90%;
    border-top: solid 1px orange;
    display: flex;
    flex-direction: row;
}

.siginInSection{
    height: 50vh;
    width: 27vw;
    background-color: rgb(3, 17, 42);
    margin-top: 2vh;
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
}

.sloganSection{
    height: 60vh;
    width: 25vw;
}

.username{
    display: flex;
    height: 6vh;
    width: 20vw;
    margin-top: 6.5vh;
    margin-left: 3.5vw;
    background-color: rgb(240, 240, 240);
}

.password{
    display: flex;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: rgb(240, 240, 240);
}

.submitButton{
    background-color: rgb(3, 17, 42);
    margin-left: 7vw;
    margin-top: 4vh;
    border-color: white;
    color: whitesmoke;
    font-size: larger;
    height: 40px;
    width: 160px;
}

.blendSection{
    height: 68vh;
    width: 3vw;
    background-color: rgb(190, 255, 91);
    opacity: 35%;    
    border-right: 2 px solid rgb(239, 250, 239);
}

.blendSectionTwo{
    height: 68vh;
    width: 3vw;
    background-color: rgb(160, 255, 17);
    opacity: 15%;
}