*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');



li{
margin-left: 1vw;
width: 80px;
height: 30px;
font-size: large;
color: cornsilk;
}

.top_section{
    height: 13vh;
    width: 100vw;
    background-color: rgb(7, 61, 160);
    border: solid 2px;
    display: flex;
    flex-direction: row;
    border-bottom-color: #f2ce94;
    border-bottom-width: 4px;
}

.logo{
    font-size: 60px;
    font-weight: bold;
    width: 30vw;
    color: rgb(169, 155, 155);
    margin-left: 1vw;
}

.navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 5vh;
    margin-left: 35vw;
}

#signin{
    height: 44px;
    margin-top: 2.4vh;
    border-radius: 20px;
    width: 100px;
    margin-left: 6vw;
    color: blue;
    font-weight: bold;
    letter-spacing: 1.5;
}

.moreOptions{
    width: 100vw;
    background-color: silver;
    height: 8vh;
}

.secondOptionstab{
    width: 100vw;
    background-color: white;
    height: 10vh;
}

.bodysection{
    height: 69vh;
    background-image: url("../public/basicbankfamily3.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: #f2ce94;
    background-blend-mode: var(#ba8c43);
    background-image: radial-gradient();
    background-blend-mode: calc();
}

.hero{
    margin-top: 5vh;
    font-size: xx-large;
    color: rgb(113, 82, 3);
    text-align: center;
}

#midsection{
    display: flex;
    flex-direction: column;
    border: solid 2px orange;
    height: 80vh;
    width: 85vw;
    margin-left: 5vw;
    text-align: center;
}

#midsectionmenus{
    display: flex;
}

.accountsection{
    background-color: wheat;
    flex-direction: row;
    margin-top: 4vh;
    margin-left: 1vw;
    width: 40vw;
    height: 65vh;
    border: solid 2px orange;
}

.uselessList{
    list-style: none;
}

.infosection{
    flex-direction: row;
    margin-top: 4vh;
    margin-left: 1vw;
    width: 35vw;
    height: 65vh;
    border: solid 2px orange;
}
